<h1>Create a New Cafe</h1>
<%= form_with(model: @cafe, url: caves_path, method: :post, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :menu %>
  <%= form.text_area :menu %>

  <%= form.label :photo %>
  <%= form.file_field :photo %>

  <%= form.submit "Create Cafe" %>
<% end %>
